<br>
<div data-hook="display" class="form-group">
  <%= label_tag :payment_method_preferred_merchant_code, Spree.t(:merchant_code) %>
  <%= text_field(:payment_method, :preferred_merchant_code, class: 'form-control' )%>
</div>
<div data-hook="display" class="form-group">
  <%= label_tag :payment_method_preferred_merchant_api_key, Spree.t(:merchant_api_key) %>
  <%= text_field(:payment_method, :preferred_merchant_api_key, class: 'form-control' )%>
</div>

<div data-hook="display" class="form-group">
  <%= label_tag :payment_method_preferred_endpoint, Spree.t(:endpoint) %>
  <%= text_field(:payment_method, :preferred_endpoint, class: 'form-control' )%>
</div>
<div data-hook="display" class="form-group">
  <%= label_tag :payment_method_preferred_shopper_portal_url, Spree.t(:shopper_portal_url) %>
  <%= text_field(:payment_method, :preferred_shopper_portal_url, class: 'form-control' )%>
</div>
<div data-hook="display" class="form-group">
  <%= label_tag :payment_method_preferred_merchant_url, Spree.t(:merchant_url) %>
  <%= text_field(:payment_method, :preferred_merchant_url, class: 'form-control' )%>
</div>
<div data-hook="display" class="form-group">
  <%= label_tag :payment_method_preferred_merchant_portal_user, Spree.t(:merchant_user) %>
  <%= text_field(:payment_method, :preferred_merchant_portal_user, class: 'form-control' )%>
</div>

<div data-hook="display" class="form-group">
  <%= label_tag :payment_method_preferred_accepting_currency, Spree.t(:accepting_currency) %>
  <%= select(:payment_method, :preferred_accepting_currency, Spree::Config[:supported_currencies].split(',').map { |code| ::Money::Currency.find(code) }.map(&:iso_code), {}, {class: 'select2', multiple: true})%>
</div>

<div data-hook="display" class="form-group">
  <%= label_tag :payment_method_preferred_country, Spree.t(:country) %>
  <%= collection_select(:payment_method, :preferred_country, Spree::Country.all, :iso3, :name, {}, {class: 'select2', multiple: true})%>
</div>
<div data-hook="display" class="form-group">
  <%= label_tag :payment_method_preferred_min_amount, Spree.t(:min_amount) %>
  <%= text_field(:payment_method, :preferred_min_amount, class: 'form-control' )%>
</div>
<div data-hook="display" class="form-group">
  <%= label_tag :payment_method_preferred_max_amount, Spree.t(:max_amount) %>
  <%= text_field(:payment_method, :preferred_max_amount, class: 'form-control' )%>
</div>

<div data-hook="display" class="form-group">
  <%= label_tag :payment_method_preferred_user_agent, Spree.t(:user_agent) %>
  <%= text_field(:payment_method, :preferred_user_agent, class: 'form-control' )%>
</div>

<div data-hook="display" class="form-group">
  <%= label_tag :payment_method_preferred_test_mode, Spree.t(:test_mode) %>
  <%= check_box(:payment_method, :preferred_test_mode)%>
</div>

